.introduction__title{
    line-height: 100px;
    margin:auto;
    max-width: 61.95%;
    margin-top:91px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    }