.introduction__subtitle{
    font-family: 'Inter';
font-style: normal;
    width: 56.25%;
    padding-top: 32px;
    padding-bottom: 64px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
      text-align: center;
      padding-bottom: 64px; 
 }

 @media screen and (max-width: 768px) {
 
    .introduction__subtitle{
        font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 93.75%;
  padding-bottom: 0;
     }

}

@media screen and (max-width: 320px){
    .introduction__subtitle{
        width: 90%;
        padding: 0;
         text-align: center;
         font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
      }
}