.features__picture{
    grid-column:1/2;
    grid-row:2/3;
    width: 460px;
  }
  
  @media screen and (max-width: 768px){
    .features__picture{
      width: 340px;
height: 340px;
margin: 0;
     }
  }
  
  @media screen and (max-width: 320px){
    .features__picture{
      min-width: 315px;
      max-width: 315px;
      margin: 0;  
    }
  }
  