.features__picture{
    width: 460px; 
 }

 @media screen and (max-width: 1279px) {
    .features__picture{
        width: 340px;
height: 340px;
           max-height: none;
        }
  

}

@media screen and (max-width: 767px){
    .features__picture{
        max-width: 100%;
        max-height: none;
        display: flex;
        margin: auto;
       }
}