.page{
    width: 1280px;
 height: auto;
    background-color: #2A2C2F;
    color: #FFFFFF;
 
 }

 @media screen and (max-width: 1279px) {
    .page{
        width: 768px;
     }

 }

 @media screen and (max-width: 767px){
    .page{
        width: 320px;
        min-width: 320px;
       }
 }