.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    padding: 92px 0 62px 0;   
 }

 @media screen and (max-width: 768px) {
    .gallery{
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-top: 84px;
        padding-bottom: 88px;
        gap: 16px; 
     }
  

}

@media screen and (max-width: 320px){
    .gallery{
        width: 100%;
           padding-top: 38px;
           padding-bottom: 62px;
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: auto;
           gap: 12px;
       }
}