.places {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .places {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
    }
}

