.places{
    width: 100%;
    }

    @media screen and (max-width: 768px) {
 
        .places{
            width: 100%;
            margin: auto;
         }

    }
   
    @media screen and (max-width: 320px){
        .places{
            width: 100%;
           }
           
    }