@import url(./vendor/fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/introduction/introduction.css);
@import url(./blocks/introduction/__title/introduction__title.css);
@import url(./blocks/introduction/__subtitle/introduction__subtitle.css);
@import url(./blocks/introduction/__image/__image.css);
@import url(./blocks/presentation/presentation.css);
@import url(./blocks/presentation/__title/presentation__title.css);
@import url(./blocks/presentation/__subtitle/presentation__subtitle.css);
@import url(./blocks/presentation/__author/presentation__author.css);
@import url(./blocks/presentation/__text/presentation__text.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__image/gallery__image.css);
@import url(./blocks/places/places.css);
@import url(./blocks/features/features.css);
@import url(./blocks/features/_extra/features_extra.css);
@import url(./blocks/features/__main/__main.css);
@import url(./blocks/features/__main/__title/features__title.css);
@import url(./blocks/features/__main/__title/_width/features__title_width.css);
@import url(./blocks/features/__main-picture/features__main-picture.css);
@import url(./blocks/features/__main-picture/__picture/features__picture.css);
@import url(./blocks/features/__author/features__author.css);
@import url(./blocks/features/__author/__artist/features__artist.css);
@import url(./blocks/features/__author/__job/features__job.css);
@import url(./blocks/features/__description/features__description.css);
@import url(./blocks/features/__description/__text/features__text.css);
@import url(./blocks/features/__description/__text/__text-extra/features__text-extra.css);
@import url(./blocks/features/__buy/features__buy.css);
@import url(./blocks/features/__buy/__button/features__button.css);
@import url(./blocks/visit/visit.css);
@import url(./blocks/visit/__container/visit__container.css);
@import url(./blocks/visit/__title/visit__title.css);
@import url(./blocks/visit/__subtitle/visit__subtitle.css);
@import url(./blocks/visit/__button/visit__button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__signature/footer__signature.css);


*{
    margin: 0 auto;
}

body{
   background-color: #2A2C2F;
   font-family: 'Inter';
}

