body{
   margin: 0;
   background-color: #2A2C2F;
 
}

.page{
    width: min(1280px,100%);
    margin: 0 auto;
    padding: 0;

}

.header{
    margin-top: 34px;

}

.header-logo{
    max-width: 100%;

    display: flex;
    margin: auto;

}

.introduction{
    color: white;
    width: 100%;

}

.introduction__title{
font-size: 96px;
line-height: 100px;
text-align: center;
font-weight: 900;
width: 95%;

}
.introduction__subtitle{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    width: 95%;
    margin-top: 32px
    
}

.introduction__image{
  display: flex;
  margin: auto;
  max-width: 100%;
  margin-top: 64px;
  filter: grayscale(1);
}

.presentation{
color: white;
width: 100%;
}

.presentation__title{
    width: 79.45%;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    display: flex;
    margin: auto;
    margin-top: 92px;

}
.presentation__subtitle{
width:56.40%;

}

.presentation__text{
    width: 56.25%;


}

.presentation__author{
    text-align: right;
    width:56.40%;

}

.gallery{
  width: 92.5%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
   column-gap: 16px;
   row-gap: 16px ;

   margin-top: 92px;
}

.gallery__image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;




}

.places{
  width: 77.10%;
  margin: auto;

}
.features {
  max-width: 100%;
column-gap: 40px;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "features__title features__author"
    "features__picture features__description"
    "features__button features__description";
}

.features__title {
  width: 35.93%;
  display: flex;
  align-self: flex-end;
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;

  grid-area: features__title; }

.features__picture { 
 width: 460px;
  grid-area: features__picture; }

.features__description {  
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "features__text features__text features__text"
    "features__text features__text features__text"
    "features__text2 features__text2 features__text2"
    "features__text2 features__text2 features__text2"
    "features__text3 features__text3 features__text3"
    "features__text3 features__text3 features__text3";
  grid-area: features__description;
}

.features__text { 
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;

color: #FFFFFF;
  grid-area: features__text; }

.features__text2 { 
  margin-top: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
color: #FFFFFF;
  grid-area: features__text2; }

  .features__text3 { 
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF; 
  grid-area: features__text3;}

.features__button { 
  width: 355px;
height: 48px;
margin-top: 61px;
background: #0278FE;
border-radius: 4px;
color: white;
  grid-area: features__button; }

.features__author {
  display: grid;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  grid-area: features__author;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  grid-template-areas: "features__artist"
  "features__job"
  "features__job2";
}

.features__artist { 
  margin-top: 0;
  grid-area: features__artist;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #AAAAAA;
  }

.features__job {
  margin-top: 0;
  grid-area: features__job;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;

  }
.features__job2{
  margin-top: 0;
  grid-area: features__job2;

}

  .visit{
    margin-top: 92px;
 




  }
.visit__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 740px;

  background-image: url(./images/__background.png);
  background-size: cover;
  color: white;


}
.visit__button{
  color: white;
  width: 198px;
height: 48px;
background: #0278FE;
border-radius: 4px;

}

.visit__title{
  margin-bottom: 0;
  text-align: center;
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
color: #FFFDFD;

}

.visit__subtitle{
  margin-top: 45px;
  width: 21.7%;

}

.footer{
  color: white;
  text-align: center;
  margin-top: 92px;
}