*{
  margin:0 auto;
  padding: 0;
}

@font-face {
  font-family: 'Inter-Black';
  src: url(./fonts/Inter-Black.woff2 format("woff2"),
  url(./fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(./fonts/Inter-Regular.woff2) format("woff2"),
  url(./fonts/Inter-Regular.woff) format("woff");
}


body{
  min-width: 320px;
   background-color: #2A2C2F;
 
}

.page{
  width: min(1280px,100%);
  background-color: #2A2C2F;


}

.header{
  max-width: 100%;
    margin-top: 34px;

}

.header-logo{
    max-width:100%;
    display: flex;
    margin: auto;

}

.introduction{
  color: #FFFFFF;
    width: 100%;

}

.introduction__title{
line-height: 100px;
margin:auto;
max-width: 61.95%;
margin-top:91px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;

}
.introduction__subtitle{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    width: 56.25%;
    margin:auto;
    margin-top: 32px;
    font-family: 'Inter';
font-style: normal;



    
}

.introduction__image{
  display: flex;
  margin: auto;
  max-width: 100%;
  margin-top: 64px;
  filter: grayscale(1);
}

.presentation{
color: white;
width: 79.45%;
}

.presentation__title{
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-top: 92px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
margin-left: 0;

}
.presentation__subtitle{
width:70.99%;
margin-top:40px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: left;

}

.presentation__text{
    max-width: 70.79%;
    margin-top:42px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;


}

.presentation__author{
    text-align: right;
    width:56.40%;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;

}

.gallery{
  width: 92.5%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
   column-gap: 16px;
   row-gap: 16px ;
   margin-top: 92px;
   box-sizing: border-box;

}

.gallery__image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.places{
max-width: 77.10%;
  margin: auto;
  


}

.features{
  margin-top:92px;
  max-width: 100%;
  color:white;
  display:grid;
  column-gap: 40px;
  grid-gap: 1rem;
  grid-template-columns: 460px fit-content(484px);
  grid-template-rows: 152px 460px auto;

}




.features__title{
font-size: 72px;
grid-column:1/2;
grid-row:1/3;
width: 46.60%;
max-height: 152px;
margin: 0;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
line-height: 76px;


}

.features__picture{
  width: 460px;
  height: 460px;
  grid-column:1/2;
  grid-row:2/3;
 
  
}

.features__description{
grid-column:2/2;
grid-row:2/3;


}
.features__text{
  margin-top: 25px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
}

.features__button{
  color:white;
  grid-column:1/2;
  grid-row:3/3;
  width: 355px;
  height: 48px;
  background: #0278FE;
border-radius: 4px;
margin-top:61px;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
}

.features__author{
  max-width: 100%;
  max-height: 152px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

}

.features__artist{
  color: #AAAAAA;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.12em;
text-transform: uppercase;
margin: 0;
padding: 0;

}

.features__job{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin: 0;
padding: 0;
color: #FFFFFF;
}
  .visit{
    margin-top: 92px;
 




  }
.visit__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 740px;
  background-image: url(./images/__background.png);
  background-size: cover;
  color: white;


}
.visit__button{
  color: white;
  width: 198px;
height: 48px;
background: #0278FE;
border-radius: 4px;
border: none;
margin-top: 45px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

}

.visit__title{
  margin-bottom: 0;
  text-align: center;
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
color: #FFFDFD;


}

.visit__subtitle{
  margin-top: 45px;
  width: 21.7%;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;

}

.footer{
  color: white;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {

  .introduction__subtitle {
    margin-top: 99px;
  }
  
  .introduction__image {
    width: 100%;
    height: 480px;
  }
  .page{
    width: min(768px,100%);
  
  }
  .presentation__title{
    max-width:93.75%;
  }

  .gallery{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .places {
    padding: 88px 24px 0;
    margin: 0;
  }
  
  .features {
    padding: 0 0 30px;
    grid-template-columns: 340px fit-content(352px);
    grid-template-rows: 89px 340px auto;
    gap: 24px;
    width: fit-content;
  }

.features__description{
  width: 352px;
  height: 234px;
}
  .features__text{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
   
  .features__picture {
    width: 340px;
    height: 340px;

  }
  .features__title {
    font-weight: 900;
font-size: 42px;
line-height: 46px;
width: 340px;
height: 46px;
  }
  
  .visit__container {
    width: 100%;
    min-height: 740px;
  }
  
}

 
@media screen and (max-width: 680px) {
  .page{
    width: min(320px,100%);
   
  
  }
  .header{
    width: 62.5%;
  }

  .introduction__title{
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 90%;
    margin-top: 50.89px;
  }

  .introduction__subtitle{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
max-width: 90%;
margin-top: 60px;
  }
  .introduction__image{
    width: 320px;
height: 200px;
  }
  .presentation{
    max-width: 90%;
    margin-top: 44px;

  }

  .presentation__title{
    font-weight: 900;
font-size: 32px;
line-height: 35px;
  }

  .presentation__subtitle{
    margin-top: 9px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
  }

  .presentation__author{
    width: 100%;

  }
 .presentation__text{
  font-weight: 400;
font-size: 16px;
line-height: 163%;
 }
 .gallery{
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
 }

 .places{
  width: 320px;
  margin-top: 62px;
  padding: 62px 16px 0;

   
 }

 .features{
  width: 100%;
 display: grid;
  grid-template-columns: 288px;
  grid-template-rows: 35px 120px 320px 600px 48px;
 }

 .features__title{
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  grid-column: 1/2;
  grid-row: 1/5;
  width: 288px;
height: 35px;
 }

 .features__picture{
grid-column: 1/1;
grid-row: 3/5;
position: relative;
right: 16px;
margin-top: 30px;

 }
 .features__author{
  width: 288px;
  grid-column: 1/1;
  grid-row: 2/5;

 }
 .features__artist{
  font-weight: 400;
font-size: 12px;
line-height: 15px;
margin-top: 30px;
width: 288px;
height: 15px;
 }
 .features__job{
  font-weight: 400;
font-size: 18px;
line-height: 22px;
width: 288px;
height: 44px;
 }

 .features__description{
  width: 288px;
grid-column: 1/1;
grid-row: 4/5;
margin: 0;


 }

 .features__text{
  font-weight: 400;
font-size: 16px;
line-height: 163%;
padding: 0;
margin: 0 0 6px;
 }

 .features__button{
  grid-column: 1/1;
  grid-row: 5/5;
  width: 288px;

 }

 .visit{
  width: 320px;
 }

 .visit__container{
  width: 100%;
    min-height: 254px;
    max-height: 254px;
 }

 .visit__title{
  font-weight: 900;
font-size: 32px;
line-height: 35px;
width: 90%;
 }

 .visit__subtitle{
  font-weight: 400;
font-size: 14px;
line-height: 16px;
width:87.5%
 }

 .visit__button{
  width: 198px;
height: 48px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
 }
  }

