.features__main-picture {
    margin-left: 0;
}

@media screen and (max-width: 1279px) {
    .features__main-picture {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .features__main-picture {
        width: 100%;
        padding-top: 30px;
    }
}
