.visit__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 740px;
    background-image: url(/images/__background.png);
    background-size: cover;
    color: white;
  
  
  }