.features__artist{
    color: #AAAAAA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0;
  
  }

  @media screen and (max-width: 768px){
    .features__artist{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
     }
  }
  
  @media screen and (max-width: 320px){
    .features__artist{
      width:90%;
      margin:0;
       margin-bottom:8px;
    
    
     }
  }
  