body{
  background-color: #2A2C2F;
  margin: 0;
  padding: 0;
}
.page{
  width: 1280px;
 margin: auto;
  }

  @media screen and (max-width: 768px){
    .page{
      width: 768px;
    }
  }
  
  @media screen and (max-width: 320px){
    .page{
      width: 320px;
     }
 
  }
  