.introduction__image{
    display: flex;
    margin: auto;
    max-width: 100%;
    margin-top: 64px;
    filter: grayscale(1);
  }
  
  @media screen and (max-width: 768px){
    .introduction__image{
      max-width: 768px;
      height: 480px;
      margin: 0;
      margin-top: 69px;
    }
  }
  
  @media screen and (max-width: 320px){
    .introduction__image{
      margin: 0;
      width: 320px;
      height: 200px;
  

    }
  }
  