.features{
    width: 77.10%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: min-content 460px auto;
       column-gap: 40px;
       row-gap: 17px;
       padding-bottom: 80px;
     
    }

    @media screen and (max-width: 768px) {
        .features{
            width: 93.75%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: min-content 340px auto;
            column-gap: 28px;
            padding-bottom: 40px;
           }
  

    }
   
    @media screen and (max-width: 320px){
        .features{
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 0;
           }
    }