.header__logo{
    width: 100%;
 }
 @media screen and (max-width: 768px) {
 
    .header__logo{
        width: 100%;
   
        }

}

@media screen and (max-width: 320px){
    .header__logo{
        width: 100%;
          
         }
}