.introduction{
    width: 100%;
    
 }

 @media screen and (max-width: 1279px) {
    .introduction{
        width: 100%;
     }
  

 }

 @media screen and (max-width: 767px){
    .introduction{
        width: 100%;
        }
 }