.introduction{
    width: 100%;
    
 }

 @media screen and (max-width: 768px) {
    .introduction{
        width: 100%;
     }
  

 }

 @media screen and (max-width: 320px){
    .introduction{
        width: 100%;
        }
 }