.presentation__text{
   font-family: 'Inter';
    width: 56.40%;
       font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-left: 148px;
    padding-right: 412px;
    }

    @media screen and (max-width: 1279px) {
        .presentation__text{
            width: 93.75%;
            font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 163%;
      padding: 32px 0 0 0;
         }
  

    }
   
    @media screen and (max-width: 767px){
        .presentation__text{
       margin: auto;
         margin: 0;
            font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 163%;
            padding: 0;
             width: 100%;
          }
    }