.introduction{
    color: #FFFFFF;
      width: 100%;
  }

  @media screen and (max-width: 768px){
    .introduction{
      width: 100%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 320px){
    .introduction{
      width: 320px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
     margin: auto;
    }
  }
  