
.presentation__subtitle{
    margin-top:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    width: 722px;
height: 136px;
margin-left: 0;
    }
    