.features__title_width{
 width: 46.60%;
    height: auto;
    margin: 0;
    
}
@media screen and (max-width: 768px){
    .features__title_width{
        width:100%;
    }
   
}

@media screen and (max-width: 320px){
    .features__title_width{
        width:100%;
    }
    
}
