.visit__button{
    margin-top: 32px;
     width: 198px;
  height: 48px;
  left: 541px;
  top: 7050px;
  color: white;
  background: #0278FE;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid red;
  }

  @media screen and (max-width: 768px) {
    .visit__button{   
        background: #0278FE;
        border-radius: 4px;
        width: 198px;
  height: 48px;
  color:white;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
     }
  

}

@media screen and (max-width: 320px){
    .visit__button{
        margin-top: 16px;
        width: 198px;
     height: 48px;
     background: #0278FE;
     border-radius: 4px;
     border: none;
     color: #FFFFFF;
       }
}