.introduction__image{
    width: 76.87%;
    padding-left: 148px;
    padding-right: 148px;
 }

 @media screen and (max-width: 768px) {
    .introduction__image{
        max-width: 100%;
        min-width: 100%;
        max-height: none;
        padding: 69px 0 55px 0;
        padding-top: 69px;
        padding-bottom: 55px;
           }
}

@media screen and (max-width: 320px){
    .introduction__image{
        max-width: 100%;
        min-width: 100%;
        max-height: none;
         padding-bottom: 44px;
         padding-top: 44px;
      }
}