.features__main{
    width: 100%;
    
 }

 @media screen and (max-width: 1279px) {
    .features__main{
        width: 100%;
     }
  

}

@media screen and (max-width: 767px){
    .features__main{
        width: 90%;
        padding-bottom: 30px;
       }
}