.visit__subtitle{
    margin-top: 45px;
    width: 21.7%;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  
  }