.features__title{
    font-size: 72px;
    grid-column:1/2;
    grid-row:1/3;
    font-style: normal;
    font-weight: 900;
    }

    .features__main{
        width: 46.60%;
        margin-left: 0;
    }