.presentation{
    width: 100%;
   
 }

 @media screen and (max-width: 1279px) {
    .presentation{
        width: 100%; 
     }
  

}

@media screen and (max-width: 767px){
    .presentation{
        width: 90%;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        display: flex;
        flex-direction: column;
    
     }
}