.features__button{
    color:white;
    grid-column:1/2;
    grid-row:3/3;
    width: 355px;
    height: 48px;
    background: #0278FE;
  border-radius: 4px;
  margin-top:61px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  }