.visit__button{
    color: white;
    width: 198px;
  height: 48px;
  background: #0278FE;
  border-radius: 4px;
  border: none;
  margin-top: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  
  }