.features__buy{
    width: 100%;
 padding-top: 21px;
 }

 @media screen and (max-width: 768px) {
    .features__buy{
        width: 100%;
        padding-top: 48px;
     }
  

}

@media screen and (max-width: 320px){
    .features__buy{
        width: 90%;
        padding-top: 0;
       }
}