.visit__title{
    margin-bottom: 0;
    text-align: center;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFDFD;
  }

  @media screen and (max-width: 768px){
    .visit__title{
      width: 85.91%;
      font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    }
  }
  
  @media screen and (max-width: 320px){
    .visit__title{
      margin-bottom: 16px;
      font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    
    }
  }
  