  @import url(../bloques/body/body.css);
  @import url(../bloques/page/page.css);
  @import url(../bloques/header/header.css);
  @import url(../bloques/header/__logo/header__logo.css);
  @import url(../bloques/introduction/introduction.css);
  @import url(../bloques/introduction/__title/introduction__title.css);
  @import url(../bloques/introduction/__subtitle/introduction__subtitle.css);
  @import url(../bloques/introduction/__image/introduction__image.css);
  @import url(../bloques/presentation/presentation.css);
  @import url(../bloques/presentation/__title/presentation__title.css);
  @import url(../bloques/presentation/__subtitle/presentation__subtitle.css);
  @import url(../bloques/presentation/__author/presentation__author.css);
  @import url(../bloques/presentation/__text/presentation__text.css);
  @import url(../bloques/gallery/gallery.css);
  @import url(../bloques/gallery/__image/gallery__image.css);
  @import url(../bloques/places/places.css);
  @import url(../bloques/features/features.css);
  @import url(../bloques/features/__main/_main/features_main_modifier.css);
  @import url(../bloques/features/__title/features__title.css);
  @import url(../bloques/features/__main-picture/features__main-picture.css);
  @import url(../bloques/features/__picture/features__picture.css);
  @import url(../bloques/features/__description/features__description.css);
  @import url(../bloques/features/__main/features__main.css);
  @import url(../bloques/features/__description/features__text/features__text.css);
  @import url(../bloques/features/__author/features__author.css);
  @import url(../bloques/features/__author/__artist/features__artist.css);
  @import url(../bloques/features/__author/__job/features__job.css);
  @import url(../bloques/features/__button/features__button.css);
  @import url(../bloques/visit/visit.css);
  @import url(../bloques/visit/__container/visit__container.css);
  @import url(../bloques/visit/__title/visit__title.css);
  @import url(../bloques/visit/__subtitle/visit__subtitle.css);
  @import url(../bloques/visit/__button/visit__button.css);
  @import url(../bloques/footer/footer.css);
  @import url(../bloques/footer/__signature/footer__signature.css);
  


    
  @font-face {
    font-family: 'Inter-Black';
    src: url(../fonts/Inter-Black.woff2) format("woff2"),
    url(../fonts/Inter-Black.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.woff) format("woff");
  }
  
  @media screen and (max-width: 768px){

    .page{
      width: 768px;
    }

    .introduction{
      width: 100%;
      margin: 0 auto;
    }

    .introduction__title{
      width: 93.75%;
      font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
margin: 0 auto;
margin-top: 91px;

    }

    .introduction__subtitle{
      width: 93.75%;
      font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
margin: 0 auto;
margin-top: 99px;

    }

    .introduction__image{
      max-width: 768px;
      height: 480px;
      margin: 0;
      margin-top: 69px;
    
    }
    .presentation{
     width: 93.75%;
     margin: 0 auto;
    }
 .presentation__title{
  width: 93.75%;
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
margin: 0;
margin-top: 55px;
 }

 .presentation__subtitle{
  margin: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
margin-top: 15px;
 }
 .presentation__text{
  margin: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
margin-top: 32px;
 }

    .gallery{
      max-width: 93.75%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      

    }
    .gallery__image{
      max-width: 352px;
     max-height: 264px;
    }
    
    .places{
      margin: 0 auto;
      margin-top: 88px;
      border: 2px solid rgba(250, 50, 50, .4);
  
    }
    .features{
      width: 93.75%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      border: 2px solid rgba(250, 50, 50, .4);

      

     }

     .features__author{
      margin: 0;
      border: 2px solid rgba(250, 50, 50, .4);

  
     }

     .features__artist{

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
     }

     .features__job{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
     }

     .features__main-picture{
      margin: 0;
      margin-bottom: 0;
 
      border: 2px solid rgba(250, 50, 50, .4);
     }

     .features__picture{
margin: 0;
border: 2px solid rgba(250, 50, 50, .4);
     }

     .features__description{
      margin: 0;
      width: 352px;
      border: 2px solid rgba(250, 50, 50, .4);

     }

     .features__text{
      margin: 0;
      font-weight: 400;
font-size: 16px;
line-height: 163%;
border: 2px solid rgba(250, 50, 50, .4);



     }
     .features__main{
      margin: 0;
      border: 2px solid rgba(250, 50, 50, .4);
   
 
     }
     .features__title{
      margin: 0;
      font-weight: 900;
      font-size: 42px;
      line-height: 46px;
      margin: 0;
      border: 2px solid rgba(250, 50, 50, .4);
  
     }
 

     
     .features__button{
      margin: 0;
      margin-top: 48px;
      width: 355px;
      height: 48px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
border: 2px solid rgba(250, 50, 50, .4);



     }

.visit{
  width: 100%;
}

.visit__title{
  width: 85.91%;
  font-family: 'Inter';
font-style: bold;
font-weight: 900;
font-size: 72px;
line-height: 76px;
}

     .visit__subtitle{ 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
width: 36.45%;
margin: 0;
     }
  }
    

  @media screen and (max-width: 320px){

    .page{
     min-width: 320px;
     max-width: 320px;
     height: auto;
    }

    .header{
    width: 62.5%;
    margin: auto;
    margin-top: 20px;
    }
    
    .introduction{
      width: 320px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
     margin: auto;

    }

    
    .introduction__title{
      margin-top: 50px;
      width: 100%;
      font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
     
    }

    .introduction__image{
      margin: 0;
      width: 320px;
      height: 200px;


    }

    .introduction__subtitle{
      width: 90%;
      height: 40px;
      font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
;
    }

    .presentation{
      width: 90%;
      margin:0 auto;
  
    }
    .presentation__title{
      margin:0;
      margin-top: 44px;
      width: 90%;
      font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
   
  
    }

    .presentation__text{
      margin:0;
    width: 90%;
    height:auto;
      font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
    }
    .presentation__subtitle{
      margin:0;
      width: 90%;
      margin-top: 9px;
      height: auto;
      font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
   
    }
    .presentation__author{
      margin:0;
      margin-top: 0;
      width: 90%;
      font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
    }

    .gallery{
      width: 90%;
       margin-top: 420px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
   
    
  
    }

    .gallery__image{
      width: 288px;
      height: 216px;
      margin: auto;
    }
  

    .places{
      width: 320px;
    }
    .features{
      min-width: 90%;
      display: flex;
      flex-direction: column;
    }

   
.features__description{
width: 90%;
margin: auto;
margin-bottom: 285px;

}
.features__author{
  margin: auto;
  margin-top: 30px;
  width: 100%;

}
.features__title{
  width: 90%;
margin: auto;
}
.features__artist{
  width: 90%;
  margin: auto;
  margin-bottom: 8px;
}
.features__job{
  width: 90%;
  margin: auto;
}

.features__text{
  width: 288px;
  height: auto;
  margin: 0;
  margin-top: 6px;
  gap:7px;
  font-weight: 400;
font-size: 16px;
line-height: 163%;
}



.features__main-picture{
width: 100%;

}

.features__picture{
  width: 320px;
height: 320px;


}
    .features__button{
      width: 288px;
      height: 48px;
      margin: auto;
      font-weight: 600;
font-size: 14px;
line-height: 17px;

    }

    .visit{
      width: 320px;
     
    }

    .visit__container{
      width: 320px;
height: 254px;

    }
.visit__title{
  margin-bottom: 16px;
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;

}

.visit__subtitle{
  width: 87.5%;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

}
    .visit__button{
      margin-top: 16px;
      width: 198px;
height: 48px;
  
    }
  }

  
 
  