  @import url(../bloques/page/page.css);
  @import url(../bloques/header/header.css);
  @import url(../bloques/header/__logo/header__logo.css);
  @import url(../bloques/introduction/introduction.css);
  @import url(../bloques/introduction/__title/introduction__title.css);
  @import url(../bloques/introduction/__subtitle/introduction__subtitle.css);
  @import url(../bloques/introduction/__image/introduction__image.css);
  @import url(../bloques/presentation/presentation.css);
  @import url(../bloques/presentation/__title/presentation__title.css);
  @import url(../bloques/presentation/__subtitle/presentation__subtitle.css);
  @import url(../bloques/presentation/__author/presentation__author.css);
  @import url(../bloques/presentation/__text/presentation__text.css);
  @import url(../bloques/gallery/gallery.css);
  @import url(../bloques/gallery/__image/gallery__image.css);
  @import url(../bloques/places/places.css);
  @import url(../bloques/features/features.css);
  @import url(../bloques/features/__title/features__title.css);
  @import url(../bloques/features/__picture/features__picture.css);
  @import url(../bloques/features/__description/features__description.css);
  @import url(../bloques/features/__description/features__text/features__text.css);
  @import url(../bloques/features/__author/features__author.css);
  @import url(../bloques/features/__author/__artist/features__artist.css);
  @import url(../bloques/features/__author/__job/features__job.css);
  @import url(../bloques/features/__button/features__button.css);
  @import url(../bloques/visit/visit.css);
  @import url(../bloques/visit/__container/visit__container.css);
  @import url(../bloques/visit/__title/visit__title.css);
  @import url(../bloques/visit/__subtitle/visit__subtitle.css);
  @import url(../bloques/visit/__button/visit__button.css);
  @import url(../bloques/footer/footer.css);
  @import url(../bloques/footer/__signature/footer__signature.css);
  

*{
    margin:0 auto;
    padding: 0;
  }
  
  @font-face {
    font-family: 'Inter-Black';
    src: url(../fonts/Inter-Black.woff2) format("woff2"),
    url(../fonts/Inter-Black.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.woff) format("woff");
  }
  

  
  body{
     background-color: #2A2C2F;
   
  }
  
  
  @media screen and (max-width: 1200px) {
  
    .introduction__subtitle {
      margin-top: 99px;
    }
    
    .introduction__image {
      width: 100%;
      height: 480px;
    }
    .page{
      width: min(768px,100%);
    
    }
    .presentation__title{
      max-width:93.75%;
    }
  
    .gallery{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
    .places {
      padding: 88px 24px 0;
      margin: 0;
    }
    
    .features {
      padding: 0 0 30px;
      grid-template-columns: 340px fit-content(352px);
      grid-template-rows: 89px 340px auto;
      gap: 24px;
      width: fit-content;
    }
  
  .features__description{
    width: 352px;
    height: 234px;
  }
    .features__text{
  
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 163%;
    }
     
    .features__picture {
      width: 340px;
      height: 340px;
  
    }
    .features__title {
      font-weight: 900;
  font-size: 42px;
  line-height: 46px;
  width: 340px;
  height: 46px;
    }
    
    .visit__container {
      width: 100%;
      min-height: 740px;
    }
    
  }
  
   
  @media screen and (max-width: 680px) {
    .page{
      width: min(320px,100%);
     
    
    }
    .header{
      width: 62.5%;
    }
  
    .introduction__title{
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 44px;
      width: 90%;
      margin-top: 50.89px;
    }
  
    .introduction__subtitle{
      font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 90%;
  margin-top: 60px;
    }
    .introduction__image{
      width: 100%;
  max-height: 200px;
  min-height: 200px;
    }
    .presentation{
    width: 90%;
      margin-top: 44px;
  
    }
  
    .presentation__title{
    font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
    }
  
    .presentation__subtitle{
      margin-top: 9px;
      font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
    }
  
    .presentation__author{
      width: 100%;
  
    }
   .presentation__text{
    font-weight: 400;
  font-size: 16px;
  line-height: 163%;
   }
   .gallery{
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
   }
  
   .places{
    width: 320px;
    margin-top: 62px;
    padding: 62px 16px 0;
  
     
   }
  
   .features{
    min-width: 100%;
   display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 35px 120px 320px 700px 48px;
    padding: 0;
   }
  
   .features__title{
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    grid-column: 1/2;
    grid-row: 1/5;
    width: 90%;
  height: 35px;
   }
  
   .features__picture{
  grid-column: 1/1;
  grid-row: 3/5;
  right: 16px;
  margin-top: 30px;
  width: 100%;
  min-height:320px;
  max-height: 320px;
  
   }
   .features__author{
   width: 90%;
    grid-column: 1/1;
    grid-row: 2/5;
  
   }
   .features__artist{
    font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 30px;
  width: 288px;
  height: 15px;
   }
   .features__job{
    font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 288px;
  height: 44px;
   }
  
   .features__description{
    width: 90%;
  grid-column: 1/1;
  grid-row: 4/5;
  margin: 0;
  min-height:320px;
  max-height: 320px;
  margin-top: 30px;
  
   }
  
   .features__text{
    font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  padding: 0;
  margin: 0 0 6px;
   }
  
   .features__button{
    grid-column: 1/1;
    grid-row: 5/5;
    width: 288px;
    min-height: 48px;
    max-height: 48px;
    margin-top: 6px;
  
   }
  
   .visit{
    width: 320px;
   }
  
   .visit__container{
    width: 100%;
      min-height: 254px;
      max-height: 254px;
   }
  
   .visit__title{
    font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  width: 90%;
   }
  
   .visit__subtitle{
    font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width:87.5%
   }
  
   .visit__button{
    width: 198px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
   }
    }
  
  