  @import url(../bloques/body/body.css);
  @import url(../bloques/page/page.css);
  @import url(../bloques/header/header.css);
  @import url(../bloques/header/__logo/header__logo.css);
  @import url(../bloques/introduction/introduction.css);
  @import url(../bloques/introduction/__title/introduction__title.css);
  @import url(../bloques/introduction/__subtitle/introduction__subtitle.css);
  @import url(../bloques/introduction/__image/introduction__image.css);
  @import url(../bloques/presentation/presentation.css);
  @import url(../bloques/presentation/__title/presentation__title.css);
  @import url(../bloques/presentation/__subtitle/presentation__subtitle.css);
  @import url(../bloques/presentation/__author/presentation__author.css);
  @import url(../bloques/presentation/__text/presentation__text.css);
  @import url(../bloques/gallery/gallery.css);
  @import url(../bloques/gallery/__image/gallery__image.css);
  @import url(../bloques/places/places.css);
  @import url(../bloques/features/features.css);
  @import url(../bloques/features/_margin/features_margin.css);
  @import url(../bloques/features/__main/features__main.css);
  @import url(../bloques/features/__title/features__title.css);
  @import url(../bloques/features/__title/_title/features__title_width.css);
  @import url(../bloques/features/__main-picture/features__main-picture.css);
  @import url(../bloques/features/__picture/features__picture.css);
  @import url(../bloques/features/__description/features__description.css);
  @import url(../bloques/features/__description/_margin/features__description_margin.css);
  @import url(../bloques/features/__description/_margin2/features__description_margin2.css);
  @import url(../bloques/features/__description/features__text/features__text.css);
  @import url(../bloques/features/__author/features__author.css);
  @import url(../bloques/features/__author/_margin/features__author_margin.css);
  @import url(../bloques/features/__author/__artist/features__artist.css);
  @import url(../bloques/features/__author/__job/features__job.css);
  @import url(../bloques/features/__button/__button/features__button.css);
  @import url(../bloques/features/__button/features-button__main.css);
  @import url(../bloques/visit/visit.css);
  @import url(../bloques/visit/__container/visit__container.css);
  @import url(../bloques/visit/__title/visit__title.css);
  @import url(../bloques/visit/__subtitle/visit__subtitle.css);
  @import url(../bloques/visit/__button/visit__button.css);
  @import url(../bloques/footer/footer.css);
  @import url(../bloques/footer/__signature/footer__signature.css);
  


    
  @font-face {
    font-family: 'Inter-Black';
    src: url(../fonts/Inter-Black.woff2) format("woff2"),
    url(../fonts/Inter-Black.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.woff) format("woff");
  }

