.presentation__subtitle {
    width: 722px;
    padding-left: 148px;
    padding-right: 410px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (max-width: 1279px) {
    .presentation__subtitle {
        width: 93.75%;
        font-style: normal;
        font-family: "Inter";
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .presentation__subtitle {
        width: 100%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
}
