
.features__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 0;
  width: 100%;
  }

  @media screen and (max-width: 768px){
    .features__text{
      width: 100%;
      font-weight: 400;
font-size: 16px;
line-height: 163%;
     }
  }
  
  @media screen and (max-width: 320px){
    .features__text{
      margin: 0;
      width: 288px;
       height: auto;
      row-gap: 8px;
      font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    
    } 
  }
  